<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="css/style.css"> 
      <title>main</title>
  </head>
  <body>
    <div>
       <ul>
            <li><a href="/bsd">BSD Students</a></li>
            <li><a href="/allStudents">All Students</a></li>
            <li><a href="/highestGPA">Highest GPA</a></li>
            <li><a href="/">Home</a></li>
       </ul>
       <hr>
    </div>
    <div>
        {{{body}}}
    </div>
    <hr>
    <div>
        <h1>Student Honour Pledge</h1>
        <p>I acknowledge Seneca Collage's academic integrity policy.</p>
        <p>On my honor, I have neither given or received unauthorized aid on this test.</p>
    </div>
    <div></div>
    <p>Name: <mark>Ben Akram</mark><br></p>
    <p>Student Number: <mark>158523217</mark><br><br></p>
    </div>    

                
  </body>
</html>