<h2>Highest GPA</h2>
<p>Student ID:
    {{data.studId}}
    <br>
    <br>
    Name:
    {{data.name}}
    <br>
    <br>
    Program:
    {{data.program}}
    <br>
    <br>
    GPA:
    {{data.gpa}}
</p>